/*
 * -------------------------------------------------
 *  nanowgs Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
workDir = '/scratch/leuven/302/vsc30235/nextflow'

// Process parameters
process {
    withName:minimap_index {
        container = 'zeunas/minimap2:2.21'
    }
}

// Profiles
profiles {
  debug       { process.beforeScript = 'echo $HOSTNAME' }
  docker      {
    docker.enabled = true
    docker.runOptions = '-u \$(id -u):\$(id -g)'
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir = "/staging/leuven/stg_00002/lcb/jdemeul/software/singularity_images/"
  }
}

// Manifest info
manifest {
  name = 'nanowgs'
  author = 'Jonas Demeulemeester'
  homePage = 'https://github.com/jdemeul/nanowgs'
  description = 'A pipeline to analyse Nanopore WGS data'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  version = '0.0.1'
}