/*
 * -------------------------------------------------
 *  nanowgs Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
workDir = '/scratch/leuven/302/vsc30235/nextflow'

// Process parameters
process {

  cpus   = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 7.GB * task.attempt, 'memory' ) }
  time   = { check_max( 4.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries    = 1
  maxErrors     = '-1'

  // Process-specific resource requirements
  withLabel:process_low {
    cpus   = { check_max( 2 * task.attempt, 'cpus' ) }
    memory = { check_max( 14.GB * task.attempt, 'memory' ) }
    time   = { check_max( 6.h * task.attempt, 'time' ) }
  }
  withLabel:process_medium {
    cpus   = { check_max( 6 * task.attempt, 'cpus' ) }
    memory = { check_max( 42.GB * task.attempt, 'memory' ) }
    time   = { check_max( 8.h * task.attempt, 'time' ) }
  }
  withLabel:process_high {
    cpus   = { check_max( 12 * task.attempt, 'cpus' ) }
    memory = { check_max( 84.GB * task.attempt, 'memory' ) }
    time   = { check_max( 72.h * task.attempt, 'time' ) }
  }
  withLabel:process_long {
    time   = { check_max( 20.h * task.attempt, 'time' ) }
  }

  withName:minimap_index {
    container = 'zeunas/minimap2:2.21'
  }
}

// Profiles
profiles {
  debug       { process.beforeScript = 'echo $HOSTNAME' }
  docker      {
    docker.enabled = true
    docker.runOptions = '-u \$(id -u):\$(id -g)'
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir = "/staging/leuven/stg_00002/lcb/jdemeul/software/singularity_images/"
  }
}

// Manifest info
manifest {
  name = 'nanowgs'
  author = 'Jonas Demeulemeester'
  homePage = 'https://github.com/jdemeul/nanowgs'
  description = 'A pipeline to analyse Nanopore WGS data'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  version = '0.0.1'
}